/* This file contains our variables */
//Variables

/* are placeholders for storing information
that you want to reuse throughout your styles.

You can */


$primary: #3498db;
$primary-dark: #2980b9;
$secondary:#aaa;
$secondary-dark: #666;

$background: white;